.badge-lg{
    background-color: tomato;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 600;
}

.badge-sm{
    background-color: tomato;
    width: 5px;
    height: 5px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 20px;
    top: 50px;
}

.badge-ss{
    position: relative;
    color: #2F363E;
}







